# Ignore Git specific files
.git
.gitignore

# Python specific ignores for Docker build context
__pycache__/
*.pyc
env/
venv/

# Sensitive environment file
.env

# Data and Scripts (not needed in the final Docker image)
data/
scripts/

# Editor and OS specific ignores
.DS_Store